<!DOCTYPE html>
<html>
  <head>
    <title>Vidstream</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">    

  </head>

  <body class="container-fluid">
    <% flash.each do |message_type,message| %>
  <div class="alert alert-<%=message_type%>"><%=message%></div>
  <%end%>
  
<button type="button" class="btn btn-outline-dark"><%= link_to  "Main", root_path, class:"nav-text" %></button>
<button type="button" class="btn btn-outline-dark">  <%= link_to  "Movies", movies_show_path, class:"nav-text" %></button>
<button type="button" class="btn btn-outline-dark">  <%= link_to  "Seasons", seasons_show_path, class:"nav-text" %></button>
<button type="button" class="btn btn-outline-dark">  <%= link_to  "All", items_show_path, class:"nav-text" %></button>
<button type="button" class="btn btn-outline-dark">  <%= link_to   "MyLibrary", libraries_show_path, class:"nav-text" %></button>

    <%= yield %>
  </body>
</html>
